body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
font-size: 16px;
}

h1 {
font-size: 2rem;
}

h2 {
font-size: 1.5rem;
color:rgb(92, 60, 221)
}

.title {
color: rgb(154, 139, 213);
}

section {
    padding: 1rem 2rem;
}